.search-form {
  display: flex;
  background: #fff;
  border-radius: 0 50px 50px 0;
  overflow: hidden;

  .search-input {
    flex-grow: 1;
    border: none;
    box-shadow: none;

    .MuiInputBase-root {
      border-radius: 30px 4px 4px 30px;

      .MuiOutlinedInput-notchedOutline {
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  .search-button {
    margin-left: auto;
    background-color: #333;
    color: #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &:hover {
      background-color: #555;
    }
  }
}
